[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6617C93E348792B-if00



# 启用对象排除
[exclude_object]
#弧线精度
[gcode_arcs]
resolution: 0.1
[virtual_sdcard]
path: /home/orangepi/printer_data/gcodes

[display_status]

[pause_resume]
recover_velocity: 50.
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000
max_z_velocity: 12
max_z_accel: 200

[neopixel board_rgb]
pin: gpio16
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[stepper_x]
step_pin: gpio6
dir_pin: !gpio7
enable_pin: !gpio10
endstop_pin: !gpio13
homing_speed: 30
microsteps: 16
rotation_distance:40
position_endstop: 0
position_max: 180  ##x行程
homing_speed: 50

[stepper_y]
step_pin: gpio4
dir_pin: !gpio5
enable_pin: !gpio10
endstop_pin: gpio12 
microsteps: 16
rotation_distance:40
position_endstop: 0
position_max: 180  ##y行程
homing_speed: 50




[stepper_z]
step_pin: gpio2
dir_pin: !gpio3
enable_pin: !gpio10
endstop_pin: probe:z_virtual_endstop
microsteps: 16
rotation_distance:8
#position_endstop: 0
position_min: -3
position_max: 180
homing_speed: 12


[extruder]
step_pin: gpio0
dir_pin: !gpio1
enable_pin: !gpio10
max_extrude_only_distance: 300
#最大单次挤出距离
rotation_distance: 53.2268702541 #bmg 7.71 hgx 53.2268702541
nozzle_diameter: 0.4 #喷嘴直径
microsteps: 16
gear_ratio: 9.54647:1
full_steps_per_rotation: 200
filament_diameter: 1.750
pressure_advance: 0.16
#pla压力提前约为0.16
#petg压力提前约为0.5-0.56
heater_pin: gpio14
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio28
#control: pid
#pid_Kp: 22
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 265
min_extrude_temp: 0 #挤出机最低运转温度

[heater_bed]
heater_pin: gpio15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio29
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: gpio26  ##
max_power:1

[heater_fan my_nozzle_fan]
pin: gpio27
heater: extruder#,#extruder1
heater_temp: 45
fan_speed: 0.65



# Pin mappings for BL_T port
[probe]
pin: gpio11
x_offset: -34
y_offset: -15
#z_offset = 0.925  
# 碳板偏差0.925 
# 单面pei 1.27
samples: 2 #探测每个点的次数。探测的z值将被平均。


[safe_z_home]
home_xy_position: 85,85   # 喷嘴坐标
speed: 60 #xy归位
z_hop: 0 #z轴回0点时高度
z_hop_speed: 10 #z轴下降速度

[bed_mesh]
speed: 60 #调平中运行速度
horizontal_move_z: 5 #运行中抬起高度
mesh_min: 34,34   #网床起点
mesh_max: 145,145 #网床终点
probe_count: 4,4 #探测点数量
algorithm: bicubic 
#algorithm算法
#lagrange：最多只能6*6
#bicubic：最少4点否则强制使用lagrange

[idle_timeout]
timeout: 600
[include macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.025000, -0.062500, -0.065000, -0.037500
#*# 	0.023750, -0.027500, -0.035000, -0.006250
#*# 	0.056250, 0.007500, 0.005000, 0.067500
#*# 	0.093750, 0.052500, 0.053750, 0.096250
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 34.0
#*# max_x = 145.0
#*# min_y = 34.0
#*# max_y = 145.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.035
#*# pid_ki = 0.897
#*# pid_kd = 90.625
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.295
#*# pid_ki = 1.656
#*# pid_kd = 788.921
#*#
#*# [probe]
#*# z_offset = 1.330
